#padDiagram {
  height: 100%;
  width: 100%;
}

.diagram-main {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.diagram-container {
  height: 600px;
  overflow: auto;
  margin: 5px 0;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
}
.palette-container {
  grid-column-start: 1;
  grid-column-end: 3;
}

.property-container{
  max-width: 250px;
  margin: 5px;
}

.nodeWrapper {
  overflow-wrap: break-word;
  /* border: 1px solid; */
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nodeicon {
  margin: auto;
}

.nodeWrapper span {
  font-size: 1rem;
  font-weight: bold;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
  text-transform: uppercase;
}

#palette_container {
  display: flex;
  margin-bottom: 10px;
}

.e-acrdn-item:nth-child(even){
  background: greenyellow;
  border-radius: 5px;
}

.e-acrdn-item:nth-child(odd){
  background: lightblue;
  border-radius: 5px;
}
